@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
  height: 100%;
  margin: 0;
}

.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
  display: inline;
}
.header{
  background-color:#26415E;
  color: white;
  text-align: center;
  padding: 10px;
  box-shadow: 5px 5px 10px #888888;
  font-size: small;
  font-weight: lighter;
  display: inline;
  z-index: 1;
}
.header h1{
  display: inline;
  vertical-align: middle;
  font-family: "Poppins";
  font-weight: 500;
  font-size: x-large;
}

.header img{
  height: 60px;
  padding-bottom: 0;
  margin: 0;
  display: inline;  
  vertical-align: middle;
}

footer{
  background-color:#C48CB3;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
  font-size: small;
  font-weight: lighter;
  box-shadow: 5px -4px 10px #a9a9a9;
  z-index: 1;
}

.main{
  flex: 1;
  background: linear-gradient(to bottom, #83A6CE, #E5C9D7);
  padding: 20px;
  font-family: "Quicksand";
}

.main h4{
  text-align: center;
  margin: 10px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: large;

}

.main button{
  background-color: #26415E;
  color: white;
}

.main button:hover{
  background-color: #4271a2 ;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
